.header
  %span.company-logo
    ○○○○株式会社
  -# - if staff_signed_in?
  -#   = link_to "ログアウト", destroy_staff_session_path, method: :delete 
  -# - else
  -#   = link_to "ログイン", new_staff_session_path, class: 'post' 
  -#   = link_to "新規登録", new_staff_registration_path, class: 'post' 